<!DOCTYPE html>
<html>
  <body>
    <h1>Hello <%= @rider.name %>!</h1>
    <p>Unfortunately, Your account didnt pass the verification requirements<strong></strong></p>
    <p>You are allowed to register again, but this time ensure all required documents are uploaded and correct information is provided</p>

    <p>— The Team</p>
  </body>
</html>