<!DOCTYPE html>
<html>
  <body>
    <h1>Hello <%= @rider.name %>!</h1>
    <p>Your rider account has been <strong>Suspended</strong>.</p>
    <p>If you think this is a mistake please contact Admin or submit a support ticket.</p>
  </body>
</html>
