<!DOCTYPE html>
<html>
  <body>
    <h1>Hello <%= @rider.name %>!</h1>
    <p>Congratulations!</p>
    <p>You are now a<strong>Verified</strong>Rider.</p>
    <p>You can now log in and start accepting orders.</p>
  </body>
</html>
