<!DOCTYPE html>
<html>
  <body>
    <h1>Hello <%= @rider.name %>!</h1>
    <p>Your rider account has been <strong>approved</strong>.</p>
    <p>You can now log in and start accepting orders.</p>
  </body>
</html>
