<div id="floating_cart">
  <!-- Your cart icon + item count -->
  <%= link_to cart_path do %>
    <i class="fa fa-shopping-cart"></i>
    <% if cart.cart_items.any? %>
      <span class="cart-badge"><%= cart.cart_items.sum(:quantity) %></span>
    <% end %>
  <% end %>
</div>
